<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/MembershipType">&nbsp;&nbsp; Membership</a></li>
        <li><a href="/TypeCar">&nbsp;&nbsp; Type of Car</a></li>
        <li class="divider"></li>
        <li><a href="/Car">&nbsp;&nbsp; Car</a></li>
        <li><a href="/User">&nbsp;&nbsp; Customer</a></li>
        <li class="divider"></li>
    </ul>
</li>

