@model ApplicationCarRental.Models.IndividualButtonPartial

<a type="button" class="btn btn-sm @Model.ButtonType" href="@Url.Action(Model.Action)@Model.ActionParameter ">
    <span class="glyphicon glyphicon-@Model.Glyph"></span>
</a>


